<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
</head>
<body>
    <p>Hi welcome to the page</p>
    <p>Today is a {{ day_of_week }}</p>
    <p>The Time is {{ current_time }}</p>
    <p>JSON LIST <br> "Python" <br> "Flask" <br> "Django"</p>
</body>
<style>
    body {
        background-color: aquamarine;
    }
    p{
        text-align: center;
        font-size: 30;
        font-family: 'Courier New', Courier, monospace;
        color: black;
    }
</style>
</html>